<h1>閲覧</h1>
<br>
<br>
<p>物件名：<%= @property.name %></p>
<br>
<p>賃料：<%= @property.rent %></p>
<br>
<p>住所：<%= @property.adress %></p>
<br>
<p>築年数：<%= @property.age %></p>
<br>
<p>備考：<%= @property.remark %></p>